/* NB: ALL THE MEDIA QUERIES ARE IN THIS SHEET FOR NOW. AT THE END OF THE EXERCISE THEY WILL BE MOVED TO A SEPARATE SHEET */


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;

}

/* LAYOUT */

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    margin: 0 auto;
}

.small-container {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    margin: 0 auto;
}

/* UTILITY */

ul li{
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 132, 253, 1)
}



.header i{
    color: white;
}

.nav-menu{
    display: none;
}

/* media query for desktop - HEADER */
@media screen and (min-width: 992px) {
    .container{
        width: 80%;
        max-width: 1400px;
    }
    
    .header i{
        display: none;
    }

    .nav-menu{
        display: flex;
        align-items: center;
        gap: 1.3rem;
    }

    li a{
        color: white;
    }

    .btn-header{
        color: black;
        background-color: white;
        padding: 10px;
        border-radius: 20px;
    }

}
/* /media query for tablet - HEADER */

/* MAIN */

/* feature section */
.feature{
    padding: 8rem 0;
}

/* columns division */

/* column properties */
.columns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.columns p{
    line-height: 2rem;
    color: rgba(107, 131, 151, 1)
}

/* big column  */
.col-big, .col{
    border-radius: 20px;
}

.col-big{
    padding: 30px 30px 0;
    width: 100%;
    background-color: rgba(181, 221, 255, 1);
}

.col-big>h2, p{
    padding-bottom: 30px;
} 

.col-big img{
    padding-top: 30px;
    height: 18rem;
} 

.col-big h2{
    color: rgba(0, 132, 253, 1);
}

.col-big div{
    text-align: center;
}

.col-big i{
    padding-right: 20px;
}

.col-big a{
    color: white;
    background-color: rgba(0, 132, 253, 1);
    padding: 10px;
    border-radius: 20px;
}
/* /big column  */

/* Other columns */
.col{
    width: 100%;
    background-color: rgba(181, 221, 255, 1);
    text-align: center;
}

.col i{
    font-size: 7rem;
}

.col i, p, h2{
    padding: 30px 30px;
}

.col i, h2{
    color: rgba(0, 132, 253, 1);
}
/* Other columns */

/* media query for tablet - Feature Section */
@media screen and (min-width: 768px) {
    /* column properties */
    .columns{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /* big column  */
    .col-big{
        width: 65%;
        padding: 20px 20px 0;
    }

    .col-big img{
        height: 20rem;
    }

    .col-big div{
        padding-left: 20px;
        text-align: left;
    }

    /* Other columns */
    .col{
        width: 30%;
    }

}
/* /media query for tablet - Feature Section */

/* media query for desktop - Feature Section */
@media screen and (min-width: 992px) {
    /* big column  */
    .col-big{
        display: flex;
        width: 65%;
    }

    .left-big-col{
        width: 60%;
    }

    .right-big-col{
        width: 40%;
    }

    .col-big img{
        height: 18rem;
    }

    .col-big div{
        padding-left: 0;
    }

    .col-big #btn-feature{
        padding: 20px 0;
    }

    .col{
        width: 30%;
    }

    /* Other columns */
    .col i, p, h2{
        padding: 10px 0px;    
    }

}
/* /media query for tablet - Feature Section */


/* planning section */

.planning{
    background-color: rgba(151, 146, 228, 1);
}

.plannig-strategy img{
    padding-top: 2rem;
}

.plannig-strategy h2{
    padding: 0;
    padding-top: 5rem;
    color: white;
}

.plannig-strategy p{
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 2rem;
    color: white;
    line-height: 2rem;
}


.app-development{
    display: flex;
    flex-direction: column;

}

.app-dev-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
}

.app-dev-content h2{
    padding: 0;
    padding-top: 2rem;
    color: black;
}

.app-dev-content p{
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: black;
    line-height: 2rem;
    font-style: italic;
}

.app-dev-content i{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgba(151, 146, 228, 1);
}

/* media query for desktop - planning section */
@media screen and (min-width: 992px) {
    .small-container{
        position: relative;
        width: 70%;
        max-width: 1200px;
        flex-direction: row;
    }

    .plannig-strategy{
        width: 60%;
    }

    .plannig-strategy img{
        width: 80%;
    }

    .plannig-strategy p{
        width: 90%;
    }

    .app-development{
        width: 40%;
        justify-content: flex-end;
    }

    .app-development h2{
        padding-top: 1rem;
    }

    .app-development p{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
/* /media query for desktop - planning section */

/* Testimonial section */
.testimonial-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.testimonial-content h3, h2, p{
    text-align: center;
}

.testimonial h3{
    padding-top: 2rem;
}

.testimonial p{
    padding-top: 1rem;
}

.testimonial h2{
    padding-bottom: 1rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(151, 146, 228, 1);
    border-radius: 20px;
}

.testimonial-card-img{
    display: flex;
    justify-content: center;
}

.testimonial-card-img img {
    padding-top: 10px;
    padding-bottom: 10px;
    object-fit: cover;
    width: 70%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.testimonial-card-content P{
    color: white;
    padding-bottom: 1rem;
}

.testimonial-card-content h3{
    color: white;
    padding-bottom: 1rem;
}
/* /Testimonial section */

/* /media query for tablets - testimonial section */
@media screen and (min-width: 768px) {
    .testimonial-card{
        flex-direction: row;
    }

    .testimonial-card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testimonial-card-content p {
        padding: 0px 0px 50px ;
        text-align: left;
    }

    .testimonial-card-content h3{
        padding: 0px;
        text-align: left;
    }
}

/* Benefits */
.benefits{
    background-color: rgba(151, 146, 228, 1);
}

.benefit-content h2{
    color: white;
    font-size: 2.2rem;
    text-align: left;
}

.benefit-card{
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.benefit-card h2, h3{
    color: rgba(151, 146, 228, 1);
}

.benefit-card h3{
    padding-left: 30px;
}

.benefit-card p{
    text-align: left;
    padding-left: 30px;
}

.btn-more{
    padding-left: 50px;
    padding-bottom: 20px;
}

.benefit-card a{
    color: white;
    background-color: rgba(151, 146, 228, 1);
    padding: 10px 30px;
    border-radius: 20px;
}

/* media query for tablets - benefits section */
@media screen and (min-width: 768px) {
    .benefit-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .benefit-card{
        width: calc(100% / 2 - 20px);

    }
}
/* /media query for tablets - benefits section */

/* media query for desktop - benefitssection */
@media screen and (min-width: 992px) {
    .benefit-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .benefit-card{
        width: calc(100% / 3 - 20px);
    }

    .benefit-card h2{
        padding: 10px;

    }

    .benefit-card h3{
        padding: 10px;
    }
    
    .benefit-card p{
        padding: 10px 10px 50px;
    }

    .btn-more{
        padding: 0px 10px 50px
    }
}